.header{
  height: 60px;
  display:flex;
  align-items: center;
  /* background-color: #131921; DEFAULT */
  background-color: #4b0082;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav_link{
  text-decoration: none;
}

.header_logo{
    width: 100px;
    object-fit: contain; /*Keep aspect ratio of  self and inner childern*/
    margin: 0 20px;
    margin-top: 18px;
  }
   
  .header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #CD9042;
  }

  .header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }

  .header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
  }
  .header_nav{display: flex; justify-content: space-evenly;}

  .header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }
  .header_optionlin_1{
    font-size: 10px;
  }
  .header_optionlin_2{
    font-size: 13px;
    font-weight: 800;
  }
.header_BasketCount{
  margin-left: 10px;
  margin-right: 10px;
}

  .header_optionbasket{
  display:flex;
  align-items: center;
  color: white;
  }
  

  @media screen and (max-width:668px) {
  
  a#header_logo{
    width: 120px;
  }
  img.header_logo{
    width: 90px;
  }
 
  .header_nav {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #4b0082;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .header_nav .nav_link {
    display: block;
    width: 100%;
  }
  .header_searchIcon{
    display: flex;
    flex: 0.2;
  }
 

  .header_searchInput{
    display: flex;
    flex: 0.8;
    margin-right: 3px;
  }

  .header_search{
    display: flex;
    flex: 0.8;
    margin-right: -30px;
  }
   #nav-check:not(:checked) ~ .header_nav {
    height: 0px;
  }
 #nav-check:checked ~ .header_nav {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  
}
